/* GAME SCREEN */

.player-view {
    width: 75%;
    height: 100vh;
    float: left;
    border-right: 1px gray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* SIDE BAR */

.side-bar {
    color: white;
    font-size: 1rem;
    background-color: black;
    height: 100vh;
    float: right;
    width: 25%;
}

/* CONSOLA */

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background-color: #c1c1ec;
    border-radius: 20px;
}

.consola {
    width: auto;
    height: 30%;

    padding: 0 5px;
    margin: 0 3%;
    color: white;
    background-color: black;
    text-align: left;

    border-radius: 10px;
    border: 10px double #111;

    overflow-y: scroll;
}

/* MENSAJE CONSOLA */

.mensaje-consola {
    font-size: 14px;
}