.contenedor-horizontal {
	display: flex;
}

.formulario-creador-entidades {
	text-align: initial;
	background-color: white;
	display: flex;
}

.formulario-creador-entidades input {
	margin: 3px;
}

.formulario-creador-entidades label {
	font-weight: bold;
	font-size: 15px;
	text-decoration: underline;
	margin-bottom: 0px;
	display: block;
}

.formulario-creador-entidades label.checkbox-label {
	text-decoration: none;
	display: inline;
}

.columna-entidades {
	align-items: center;
	text-align: center;
	border: 3px solid black;
	border-radius: 3px;
}

.opcion:hover {
	background-color: lightblue;
	transition: ease-in-out 0.4s;
	font-weight: bolder;
}

.opcion {
	border-radius: 15px;
	text-align: center;
	transition: ease-in-out 0.4s;
	cursor: pointer;
	user-select: none;
}